#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_installdeb:
	# TODO: use real tokens once we only support bullseye
	# https://manpages.debian.org/bullseye/debhelper/dh_installdeb.1.en.html#OPTIONS
	sed -i s/#DEB_VERSION_UPSTREAM#/${DEB_VERSION_UPSTREAM}/ debian/postinst
	dh_installdeb
