Source: securedrop-workstation-viewer
Section: unknown
Priority: optional
Maintainer: SecureDrop Team <securedrop@freedom.press>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.8
Homepage: https://github.com/freedomofpress/securedrop-debian-packaging

Package: securedrop-workstation-viewer
Architecture: all
Depends: securedrop-workstation-config,securedrop-workstation-grsec,apparmor-profiles,apparmor-profiles-extra,apparmor-utils,audacious,eog,evince,file-roller,gedit,totem
Description: This is the SecureDrop workstation SecureDrop Viewer Disposable VM template configuration package. This package provides dependencies and configuration for the Qubes SecureDrop workstation sd-viewer Template VM.
Provides: securedrop-workstation-svs-disp
Conflicts: securedrop-workstation-svs-disp
Replaces: securedrop-workstation-svs-disp
