build==0.3.0
wheel==0.36.2
pip==21.0.1

# For the build dependency of the our packages

# For python-dateutil
setuptools-scm>=5.0.2

# For chardet
pytest-runner>=5.3.0

# For PyYAML
cython==0.29.22

# For pep517
flit_core >=2,<3

# For maintaining requirements files
pip-tools>=6
