Source: securedrop-keyring
Section: web
Priority: optional
Maintainer: SecureDrop Team <securedrop@freedom.press>
Build-Depends: debhelper (>= 11),
Standards-Version: 3.9.8
Homepage: https://github.com/freedomofpress/securedrop-debian-packaging

Package: securedrop-keyring
Architecture: all
Depends: gnupg
Description: Provides an apt keyring for SecureDrop-related packages, so the master signing key used for SecureDrop packages can be updated via apt.
