Source: securedrop-proxy
Section: unknown
Priority: optional
Maintainer: SecureDrop Team <securedrop@freedom.press>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools, dh-virtualenv
Standards-Version: 3.9.8
Homepage: https://github.com/freedomofpress/securedrop-proxy
X-Python3-Version: >= 3.5

Package: securedrop-proxy
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, libyaml-0-2
Description: This is securedrop Qubes proxy service
 This package provides the network proxy on Qubes to talk to the SecureDrop server.

