#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

REQUIREMENTS_FILE=requirements/build-requirements.txt

override_dh_virtualenv:
	test -e $(REQUIREMENTS_FILE)
	dh_virtualenv \
		--python /usr/bin/python3 \
		--setuptools \
		--extra-pip-arg "--ignore-installed" \
		--extra-pip-arg "--no-index" \
		--extra-pip-arg "--find-links" \
		--extra-pip-arg "$(WHEELS_DIR)" \
		--extra-pip-arg "--no-deps" \
		--extra-pip-arg "--no-cache-dir" \
		--extra-pip-arg "--no-use-pep517" \
		--requirements $(REQUIREMENTS_FILE)

override_dh_strip_nondeterminism:
	find ./debian/ -type f -name '*.pyc' -delete
	find ./debian/ -type f -name 'pip-selfcheck.json' -delete
	find ./debian/ -type f -name 'direct_url.json' -delete
	find ./debian/ -type f -name 'RECORD' -delete
	dh_strip_nondeterminism $@
