#!/usr/bin/make -f

%:
	dh $@ --buildsystem=none

PIP_ARGS=--ignore-installed --no-index --find-links $(WHEELS_DIR) --no-deps --no-cache-dir --no-use-pep517

override_dh_auto_install:
	virtualenv --system-site-packages debian/$(PKG_NAME)/opt/venvs/$(PKG_NAME)
	./debian/$(PKG_NAME)/opt/venvs/$(PKG_NAME)/bin/pip install $(PIP_ARGS) -r requirements/build-requirements.txt
	./debian/$(PKG_NAME)/opt/venvs/$(PKG_NAME)/bin/pip install $(PIP_ARGS) .
	find ./debian/$(PKG_NAME)/ -type f -exec sed -i "s#$(shell pwd)/debian/$(PKG_NAME)##" {} \;
	dh_auto_install $@

override_dh_strip_nondeterminism:
	find ./debian/ -type f -name '*.pyc' -delete
	find ./debian/ -type f -name 'pip-selfcheck.json' -delete
	find ./debian/ -type f -name 'direct_url.json' -delete
	find ./debian/ -type f -name 'RECORD' -delete
	dh_strip_nondeterminism $@
