Source: securedrop-export
Section: utils
Priority: optional
Maintainer: SecureDrop Team <securedrop@freedom.press>
Build-Depends: debhelper-compat (= 11), dh-python, python3-all, python3-setuptools, dh-virtualenv
Standards-Version: 3.9.8
Homepage: https://github.com/freedomofpress/securedrop-export
Vcs-Git: https://github.com/freedomofpress/securedrop-export.git
X-Python-3-Version: >= 3.5

Package: securedrop-export
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, cryptsetup, cups, printer-driver-brlaser, printer-driver-hpcups, system-config-printer, xpp, libcups2-dev, python3-dev, libtool-bin, unoconv, gnome-disk-utility
Description: Submission export scripts for SecureDrop Workstation
 This package provides scripts used by the SecureDrop Qubes Workstation to 
 export submissions from the client to external storage, via the sd-export 
 Qube.
